{% extends "../base.html" %}

{% block content %}

<section class="container d-flex justify-content-center">
  <div class="bg-light-subtle flex-column p-5 rounded-3">
    <h1>Password Reset</h1>
    <p>Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="d-flex flex-column gap-3 align-items-start">
      {% csrf_token %}
      <div class="d-flex flex-column align-items-start">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <button type="submit" class="btn btn-primary">Reset My Password</button>
    </form>
  </div>
</section>

{% endblock content %}
