{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 border p-3">
      <form method="POST">
        <span class="d-block mb-2">Order Type</span>
        <input type="radio" id="collection" name="order_type" value="0" checked required>
        <label for="collection">Collection</label><br>
        <input type="radio" id="delivery" name="order_type" value="1" class="mb-4">
        <label for="delivery">Delivery</label>
        <label for="requirements" class="d-block">Special Requirements</label>
        <textarea id="requirements" name="requirements" class="w-100 mb-4" maxlength="150"></textarea>
        <input type="submit" value="Place Order" class="d-block mb-4">
        {% csrf_token %}
      </form>
      <span class="h5">Total: {{ currency_symbol }}{{ total }}</span>
    </div>
    <div class="col-md-6">
      {% if items %}
      <h1>Your Basket</h1>
      {% else %}
      <h1>No items in basket!</h1>
      {% endif %}
      {% for item in items %}
      <div class="row mb-3">
        <div class="d-flex align-items-center justify-content-between p-3 border bg-light">
          <span>{{ item.quantity }}x {{ item.name }}</span>
          <div class="d-flex align-items-center justify-content-between gap-3">
            <span>{{ currency_symbol }}{{ item.price }}</span>
            <form method="POST" action="{% url 'delete_item' item.id %}">
              <button type="submit" class="bg-transparent border-0"><i class="fa-solid fa-xmark h3 mb-0"></i></button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
