{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <div class="p-3 border bg-light">
        <h2>Categories</h2>
        <ul class="list-unstyled">
          <li class="h4"><a href="#" class="text-decoration-none">Chicken</a></li>
          <li class="h4"><a href="#" class="text-decoration-none">Beef</a></li>
          <li class="h4"><a href="#" class="text-decoration-none">Pork</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row gy-4">
        <div class="col-12">
          <h3 class="ms-3">Chicken</h3>
          <div class="row g-2">
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h3 class="ms-3">Chicken</h3>
          <div class="row g-2">
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between">
                <span>Chicken Chowmein</span><span>£7.50</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
