{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <div class="p-3 border bg-light">
        <h2>Categories</h2>
        <ul class="list-unstyled">
          {% for category in categories %}
          <li class="h4"><a href="#" class="text-decoration-none">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row gy-4">
        {% for category in categories %}
        <div class="col-12">
          <h3 class="ms-3">{{ category.name }}</h3>
          <div class="row g-2">
            {% for item in category.items.all %}
            <div class="col-sm-6">
              <div class="p-3 border bg-light d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#itemInfoModal" data-item-description="{{ item.description }}">
                <span class="item-name">{{ item.name }}</span><span class="item-price">{{ item.price }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="itemInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Item Name</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Price: <span class="modal-price">Item Price Value</span></p>
        <p>Description: <span class="modal-description">Item Description Value</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add to basket</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
