{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <div class="p-3 border bg-light sticky-top rounded-3">
        <h2>Categories</h2>
        <ul class="list-unstyled">
          {% for category in categories %}
          <li class="h4"><a href="#{{ category.id }}" class="text-decoration-none">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row sticky-top">
        <div class="col-12">
          <div class="d-flex align-items-center mb-3 gap-2 bg-light rounded-3 border p-3">
            <input type="text" class="search-box flex-grow-1 rounded-3 p-3 border border-black" placeholder="Type to search for items" aria-label="Input field for searching menu items">
            {% if user.is_authenticated %}
            <a href="{% url 'basket' %}">
              <i class="fa-solid fa-cart-shopping h1 mb-0 position-relative text-dark">
                {% if basket_count > 0 %}
                <span class="badge rounded-pill text-bg-danger position-absolute bottom-0 end-0">{{ basket_count }}</span>
                {% endif %}
              </i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row gy-4">
        {% for category in categories %}
        <div class="col-12">
          <div class="bg-light p-3 rounded-3 border">
            <h3 class="ms-3 mb-4" id="{{ category.id }}">{{ category.name }}</h3>
            <div class="row g-2 menu-category">
              {% for item in category.items.all %}
              <div class="col-sm-6">
                <div 
                  class="p-3 border bg-light d-flex justify-content-between item h-100 rounded-3"
                  data-bs-toggle="modal"
                  data-bs-target="#itemInfoModal"
                  data-item-description="{{ item.description }}"
                  data-item-price="{{ item.price }}"
                  data-item-name="{{ item.name }}"
                  data-item-quantity="{{ item.quantity }}"
                  data-item-image="{{ item.image.url }}"
                  data-item-id="{{ item.id }}">
                    <span>{{ item.name }}</span>
                    <span>{{ currency_symbol }}{{ item.price }}</span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="itemInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Item Name</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="modal-image w-100 d-none" src="none" alt="Item Image">
        <p>Price: {{ currency_symbol }}<span class="modal-price">Item Price Value</span></p>
        <p class="modal-description-wrapper d-none">Description: <span class="modal-description">Item Description Value</span></p>
      </div>
      <div class="modal-footer d-block">
        {% if not user.is_authenticated %}
        <p class="text-center text-danger">Please login to add items to your basket!</p>
        {% endif %}
        <form id="quantityForm" class="{% if user.is_authenticated %}d-flex{% else %}d-none{% endif %} justify-content-between" method="POST">
          <input name="quantity" class="modal-quantity" type="number" min="1" max="10" value="1">
          <button type="submit" class="btn btn-success modal-submit">Add Item</button>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
